@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Raleway", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Poppins", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Raleway", sans-serif;
}

/* Custom scrollbar for premium look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #84e114; /* Elegant lime green track */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #72c310;
}

html {
  scroll-behavior: smooth;
}
